.letrs-red {
    color: #c2151c;
}


.orange-bg {
    background: #ff6d10;
}

.orange-bg p {
    color: #ffffff;
}

h2 {
    margin: 0;
    font-size: 28px;
    line-height: 32px;
    color: #c2151c;
    text-align: left;
}

.red-body {
    background: #c2151c;
}

.red-body h3 {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
}

.red-body a {
    color: #ffffff;
    text-decoration: underline;
}

p.larger {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
}

p.larger a {
    font-weight: 300;
}